body{
    background-color: rgb(69, 245, 186);
}

h1 {
    text-align: center;
    font-size: 50px;
}
form {
    text-align: center;
}

input {
    background-color: blue;
}

#formulario {
    background-color: brown;
    color: aliceblue;
    font-size: larger;
}
#cita1 {
    text-transform: uppercase;
    font-style: italic;
}